.light {
    background-color: rgb(241, 241, 241);
}

.dark {
    background-color: rgb(24, 24, 24);
}

html {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
